<!DOCTYPE html>
<html>
	<header>
		<meta charset="UTF-8">

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/controllers/AuthentificationController.js"></script>
		<script type="text/javascript" src="/js/controllers/TweetController.js"></script>

		<link rel="stylesheet" href="/assets/style.css">
		<link rel="stylesheet" href="/assets/header-login-signup.css">
		<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	</header>
	<body ng-app="TwitterApp" ng-cloak>

		<header class="header-login-signup">
			<div class="header-limiter" ng-controller="AuthentificationController">
				<h1><a href="#">Tweet<span>Book</span></a></h1>

				<div class="">
					<a ng-if="user.id == null" class="right" href="http://127.0.0.1:3000/auth/twitter">
						<span class="signWithTwitter"></span>
					</a>
					<a ng-if="user.id != null" class="right" href="http://127.0.0.1:3000/logout">
						<span class="">Log Out</span>
					</a>
				</div>
			</div>
		</header>

		<div id="container" class="">
			<div ng-controller="TweetController">
				<md-content class="md-padding">
				    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
				      	<md-nav-item md-nav-click="goto('tweets')"name="tweets">Mes Tweets</md-nav-item>
				      	<md-nav-item md-nav-click="goto('page2')" name="mytweets" ng-click="getMyTweets()">Page Tweets enregistrés</md-nav-item>
				    </md-nav-bar>
				    <div class="ext-content">
	
					  <div ng-if="currentNavItem=='tweets'">
						<h2>MES TWEETS</h2>
							<div style="display:inline-block;width:33%;" ng-repeat="tweet in tweets | orderBy : 'created_at' : true" flow="30">
							
									<md-card md-theme-watch>
						        <md-card-title>
						          <md-card-title-text>
						           
						            <span class="md-headline"> <img ng-src="{{tweet.user.profile_image_url}}" class="md-avatar" alt="{{tweet.user.url}}">{{tweet2.user.name}}  @{{tweet.user.screen_name}}</span>
						            <span class="md-subhead">{{tweet.text}}</span>
						            <span class="md-subhead">{{tweet.created_at}}</span>
						          </md-card-title-text>
						         
						        </md-card-title>
						        <md-card-actions layout="row" layout-align="end center">
						          <md-button ng-click="saveTweet(tweet)">Enregistrer</md-button>
						        </md-card-actions>
						      </md-card>
							</div>
					  </div>
					  
						<md-list-item class="md-3-line" ng-repeat="tweet in lstMyTweets">
							
								<md-card md-theme-watch>
				        			<md-card-title>
				          				<md-card-title-text>
				           
				            				<span class="md-headline"> <img ng-src="{{tweet.user.profile_image_url}}" class="md-avatar" alt="{{tweet.user.url}}">{{tweet.user.name}}  @{{tweet.user.screen_name}}</span>
				            				<span class="md-subhead">{{tweet.text}}</span>
				          				</md-card-title-text>
				         
				        			</md-card-title>
					        		<md-card-actions layout="row" layout-align="end center">
					          			<md-button ng-click="deleteTweet(tweet.id)">Supprimer</md-button>
					        		</md-card-actions>
				      			</md-card>
				        	</md-list-item>
				    </div>
				</md-content>
			</div>
		</div>
	</body>
</html>