.left{
    float: left;
}

.right{
    float: right;
}

.signWithTwitter {
    display: inline-block;
    background-image: url(/medias/sign-in-with-twitter-gray.png);
    height: 28px;
    width: 158px;
    border: none;
}

.signWithTwitter:active {
    margin-top: 2px;
    margin-left: 2px;
    opacity: 0.8;
}

/*BODY*/
html{
    height: 100%;
    background-color: #F4F7F7;
}
